<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        {% bootstrap_css %}
        {% load static %}
        {% load widget_tweaks %}
        <title>TestINDEX</title>

        <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
        <script src="{% static 'js/test_vue.js' %}"></script>
        <script src="https://unpkg.com/vue@next"></script>
        <!-- Vue.js -->
        <!-- https://chuna.tech/detail/89/:参考資料 -->

    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>