{% extends "testapp/base.html" %}
{% load widget_tweaks %}
{% load static %}
{% block content %}

    <h1> this is test page </h1>

    <p>{{ test_text }}</p>
    <div id="counter">
        Counter : [[ counter ]]
    </div>  

    <hr>

    <p>バインドテスト</p>
    <div id="bind-attribute">
        <p v-bind:title="message">
            Hover your mouse over me for a few seconds to see my dynamically bound
      title!
        </span>
    </div>

    <div id="event-handling">
        <p>[[ message ]]</p>
        <p>[[ text ]]</p>
        <button v-on:click="reverseMessage">Reverse Message</button>
    </div>

    <div id="two-way-binding">
        <p>[[ message ]]</p>
        <input v-model="message" />
    </div>

    <div id="conditonal-rendering2">
        <button v-on:click="replace">[[ seen ]]</button>
        <br>
        <span v-if="seen">Now you see me</span>
    </div>

    <script>
        Vue.createApp( Counter ).mount('#counter')
        Vue.createApp( AttributeBinding ).mount('#bind-attribute')
        Vue.createApp( EventHandling ).mount('#event-handling')
        Vue.createApp( TwoWayBinding ).mount("#two-way-binding")
        Vue.createApp( ConditionalRendring ).mount("#conditonal-rendering2")
    </script>

{% endblock %}